<div class="data-dashboard-page-container">
  <div >
    <h1>Denver Construction by the numbers</h1>
  </div>

  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <canvas id="resConstruction"></canvas>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <canvas id="commConstruction"></canvas>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <canvas id="TBD-chart"></canvas>
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <div class="card">
              <div class="card-body">
                <div id="neighborhood-map-container">
                  <nav id="menu"></nav>

                  <div class='legend'>
                    <div><b>Planned construction value</b></div>
                    <div class='bar'></div>
                    <div><span class='left-legend'>Less<span><span class='right-legend'>More</span></div>
                  </div>

                </div>
              </div>
          </div>
      </div>
  </div>


</div>

<%= javascript_pack_tag 'hb-maps' %>
<%= javascript_pack_tag 'charts' %>
