<div class="data-dashboard-page-container">
  <div class="db-header-text">
    <h1>Denver Construction by the numbers</h1>
  </div>

  <div class="db-chart-container">
    <canvas id="TBD-chart"></canvas>
  </div>

  <div id="neighborhood-map-container">
    <div id='variables' class='menu-ui'></div>
  </div>
</div>

<%= javascript_pack_tag 'hb-maps' %>
