<h1>Results for </h1>

<div id="map",
 data-start_lat="<%= @home_marker[0] %>",
 data-start_long="<%= @home_marker[1] %>",
 data-permits="<%= @presenter.search_results.to_json %>">
</div>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_MAPS_API_KEY"]}&libraries=places&callback=initMap", async: true, defer: true %>
