<h1>Oh boy!</h1>

<p>Just wanted to let you know we're excited to be sending you weekly updates about your search at <%= @saved_search.address %>. Expect something in your inbox this Thursday after the latest batches of permits have been processed. </p>
