<%= stylesheet_link_tag "main" %>
<footer>

  <hr class="clearfix w-100 d-md-none pb-3">
  <div class="footer-copyright text-left py-3">© 2018 Copyright:
    <a href="https://github.com/ssciolist"> Megan Arellano</a>
  </div>

  <div class="footer-copyright text-center py-3">
    <%= image_tag "helloblock_logo.png" %>
  </div>

</footer>
