<p>Data for this project is comes from the Denver Office of Community Development. It is available in its <a href="https://www.denvergov.org/content/denvergov/en/denver-development-services/help-me-find-/building-permits.html">original format here.</a></p>

<p>The custodians of this data caution: "These permit reports have not been manually validated and may be missing some data, may contain duplicates and may contain limited data points that are incorrect."</p>
