@import url('https://fonts.googleapis.com/css?family=Montserrat:700,100');
@import url('https://fonts.googleapis.com/css?family=Yrsa:700');

$title-font: 'Montserrat', sans-serif;
$header-font: 'Yrsa', serif;
$main-green: #3F9476;

.title {
  font-family: $title-font;
  font-weight: 700;
  font-size: 50px;
  color: white;
}

.navbar-header {
  img {
    padding-left: 25px;
    height: 80px;
  }
}

.navbar-default {
  background-color: $main-green;
 }

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;

  a:hover {
    text-decoration: none;
  }
}

.navbar-right {
  .fa-2x {
    padding-top: 10px;
    color: white;
  }
}

footer {

  width: 90%;
  padding-left: 7%;
  padding-bottom: 20px;

  .footer-copyright {
    position: relative;
    top: 10px;
  }

  img {
    height: 30px;
    position: relative;
    top: -25px;
  }

  .left-footer-links {
    padding-right: 2%;
    position: relative;
    top: -45px;
  }
}

h1 {
  font-family: $header-font;
  text-align: center;
  font-size: 60px;
}

p {
  text-align: center;
}

// start of homepage styling. Break into its own file later
.hp-intro {
  padding-left: 15%;
  width: 85%;
  padding-bottom: 3%;
  p {
    // text-align: left;
    font-family: $title-font;
    font-weight: 100;
    .bigtext {
      font-size: 24px;
      font-family: $title-font;
    }
  }
}

.hp-search {
  width: 60%;
  margin: auto;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
    .btn {
      margin-top: 2%;
    }
}



//search page styling start
.search-result-table {
  width: 90%;
  margin: 0 auto;
}

.user-search-table {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.user-search-header {
  padding-left: 10%;
  padding-bottom: 2%;
}

.refine-my-search {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4%;
}

.pagination {
  margin: 0 auto;
  padding-left: 40%;
}
//end of search page styling

#map {
  height: 400px;
  width: 100%;
}

// //start of data dashboard styling

h2 {
  font-family: $header-font;
  font-size: 40px;
}

.db-heading {
  padding-left: 30%;
  padding-bottom: 3%;
}

.db-card-left {
  height: 400px;
  h4 {
    text-align: center;
  }
}

h4 {
  font-family: Helvetica;
  color: #666666;
  font-size: 18px;
}

#neighborhood-map-container {
  height: 400px;
  margin-right: 5%;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.legend {
  background-color: #fff;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  position: absolute;
  left: 10px;
  z-index: 1000;
  .bar {
    height: 10px;
    width: 100%;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .right-legend {
    display: block;
    float: right;
  }
}

#menu {
        background: #fff;
        position: absolute;
        z-index: 1;
        bottom: 40px;
        left: 10px;
        border-radius: 3px;
        width: 120px;
        border: 1px solid rgba(0,0,0,0.4);
        font-family: 'Open Sans', sans-serif;

    a {
        font-size: 13px;
        color: #404040;
        display: block;
        margin: 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        text-align: center;
    }

    a:last-child {
        border: none;
    }

    a:hover {
        background-color: #f8f8f8;
        color: #404040;
    }

    a.active {
        background-color: #3887be;
        color: #ffffff;
    }

    a.active:hover {
        background: #3074a4;
    }
  }
