@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Yrsa:700');

$title-font: 'Montserrat', sans-serif;
$header-font: 'Yrsa', serif;
$main-green: #3F9476;

.title {
  font-family: $title-font;
  font-size: 50px;
  color: white;
}

.navbar-header {
  img {
    padding-left: 25px;
    height: 80px;
  }
}

.navbar-default {
  background-color: $main-green;
 }

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;

  a:hover {
    text-decoration: none;
  }
}

.navbar-right {
  .fa-2x {
    padding-top: 10px;
    color: white;
  }
}

.home-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  grid-template-rows: 20% 20% 20% 20% 20%;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}

.hp-explainer-text {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.hp-res-chart-container {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.hp-comm-chart-container {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.home-search {
  text-align: center;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.hp-do-more-text {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

footer {

  width: 90%;
  padding-left: 7%;
  padding-bottom: 20px;

  .footer-copyright {
    position: relative;
    top: 10px;
  }

  img {
    height: 30px;
    position: relative;
    top: -25px;
  }

  .left-footer-links {
    padding-right: 2%;
    position: relative;
    top: -45px;
  }
}

h1 {
  font-family: $header-font;
  text-align: center;
  font-size: 60px;
  padding-top: 1%;
  padding-bottom: 2%;
}

.search-result-table {
  width: 90%;
  margin: 0 auto;
}

.user-search-table {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.user-search-header {
  padding-left: 10%;
  padding-bottom: 2%;
}

.refine-my-search {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 4%;
}

#map {
  height: 400px;
  width: 100%;
 }

.pagination {
  margin: 0 auto;
  padding-left: 40%;
}

p {
  text-align: center;
}
